<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/signIn.css">
    <title>Sign in</title>
</head>
<body>
    <form method="post" action="user_sign_in">
      <div class="container">
        <h1>Sign in</h1>
        <hr id="first">

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Name" name="name" value="{{name}}" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" id="psw" placeholder="Password" name="password" value="{{password}}" required>
        <div class="message">{{message}}</div>


        <hr>

         <button type="submit" id="signInBtn">Sign in</button>
      </div>

      <div class="registration">
        <p>You don't have an account?<a href="registration_html">Registration</a>.</p>
      </div>
    </form>
    
    <script>
        
    </script>
</body>
</html>