*{box-sizing: border-box}

.container {
    padding: 16px;
}

body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #d6d6d6;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#first {
    border: 1px solid #d9f3fd;
    margin-bottom: 25px;
    margin-top: 35px;
}

#signInBtn {
    background-color: #1ba0db;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}

#signInBtn:hover {
    background-color: #0388c3;
}

a {
    color: #0031ff;
}

.registration {
    background-color: #ffffff;
    text-align: center;
}

.message {
    color: red;
    font-size: 70%;
    margin-top: -15px
}